# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=59vtn2zg
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=skhDXSFP67BeYXbcblkjRSB71kFcLtFFaOLWFQRXgF6k3AZsdEHaPSguKZC8mJbN0IE2aRhzns32vFxJnErdM53fcJ3DPtqccQiT5tAuXM9FUdq3CeAzSRF8AB44SNkaONVjjvSlIzLlYY07Ucq7VeZvl5J2zm8AFdyLTeZrVTrTo0cFVcnK

# Newsletter (Brevo)
BREVO_API_KEY=

# Site
NEXT_PUBLIC_SITE_URL=https://thedronepost.in
